@import "../../../scss/index.scss";

.settigns-form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50;

  .ui.button {
    background-color: rgb(173, 173, 173) !important;
    padding: 18px 0;
    margin: 0;
    border-radius: 0;
    color: white;
  }
}

.btn-submit {
  width: 100%
}