@import "./scss/index.scss";

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-grey-light;
  background-color: rgb(216, 215, 215);
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.siteWeb {
  font-weight: bolder;
}

.container-form {
  border-radius: 30px !important;
  background-color: rgb(175, 175, 175) !important;
  color: white;
  font-weight: bolder;
}

.change-form {
  border-radius: 30px !important;
  background-color: rgb(175, 175, 175) !important;
  color: white;
}