@import "../../../scss/index.scss";


h1 {
  font-size: 30px !important;
  color: rgb(31, 167, 221);
  text-align: center;
}

.login-form {
 
  h2 {
    font-size: 20px !important;
    text-align: center;
    margin-bottom: 20px;
  }
  input {
    padding: 15px !important;
    background-color: white !important;
    border-radius: 30px;
  }
  .btn-submit {
    width: 100%
  }
}
