@import "../../scss/index.scss";

.header {
  position: relative;
  // border-bottom: 1px solid #dbdbdb;
  padding: 12px 0;
  // background-color: $background-light;
  background-color: #0072ff;
  
  

  z-index: 1;
  &__logo {
    display: flex !important;
    align-items: center;

  //   img {
  //     height: 24px;
  //   }
  // }
  }
}

.devask {
  display: flex;
  flex-direction: row;
  color: white;
  height: 24px;
  width: 24px;
}

.devask-name {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  color: white;
}