@import "../../../scss/index.scss";

.avatar-form {
  display: flex;
  flex-direction: column;

  .ui.button {
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid $border-grey;
    padding: 18px 0;
    margin: 0;
    border-radius: 0px;

    &:nth-child(1) {
      color: $action;
    }
    &:nth-child(2) {
      color: $danger;
    }
  }
}

.btn-submit {
  width: 100%
}
