@import "../../../scss/index.scss";

.profile {
  margin-top: 20px !important;

  &__left {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .ui.image.avatar {
      width: 170px;
      height: 170px;
      object-fit: cover;
      

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__right {
    .other {
      .name {
        font-size: 16px;
        margin-bottom: 3px;
        font-weight: bold;
        font-style: italic;
      }
      .description {
        font-size: 16px;
        margin-top: 10px;
      }
      .siteWeb {
        font-weight: bolder;
      }
    }
  }
}

.btn-submit {
  width: 100%
}