$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;

$background-light: rgb(178, 178, 178);
$background-grey-light: #535252;

$border-grey: #dbdbdb;
$border-dark: #000;

$action: #0095f6;
$danger: #ed4956;
